* {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

body {
  background-color: #fdf0d5;
  display: flex;
  flex-direction: row-reverse;
  margin: 0;
  padding: 0;
}

#right {
  width: 300px;
  min-height: 350px;
}

#left {
  display: none;
  background-color: #ffe8b9;
  width: 300px;
  min-height: 450px;
  height: fit-content;
  padding: 10px 10px 20px 20px;
  box-sizing: border-box;
  word-wrap: break-word; /* Ensure long words wrap to the next line */
  overflow-wrap: break-word; /* Ensure long words wrap to the next line */
}

.probability {
  font-size: 14px;
}

.genuinePercentage {
  color: green;
  font-size: 14px;
  font-weight: bold;
}

.advBtnCont {
  display: flex;
}

.like {
  color: white;
  height: 40px;
  width: 40px;
  background-color: #c1121f;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-left: 20px;
}

.dislike {
  color: white;
  height: 40px;
  width: 40px;
  background-color: #c1121f;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
}

.like:hover {
  opacity: 80%;
}

.dislike:hover {
  opacity: 80%;
}

.deepfakePercentage {
  color: #c1121f;
  font-size: 14px;
  font-weight: bold;
}

.ResHead {
  font-weight: bold;
  font-size: 16px;
}

#response-container {
  font-size: 14px;
}

.top {
  display: flex;
}

.name {
  margin-top: 23px;
  margin-left: 5px;
  font-size: 15px;
}

.logo {
  margin-left: 25px;
  margin-top: 20px;
  width: 30px;
}

.advanceBtn {
  margin-top: 10px;
  background-color: #c1121f;
  color: #fdf0d5;
  border-radius: 7px;
  font-weight: 500;
  font-size: 14px;
  height: 40px;
  width: 120px;
  border: none;
}

.advanceBtn:hover {
  opacity: 80%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
}

.heading {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}

#share-audio-button:hover {
  opacity: 80%;
}

#share-audio-button {
  margin-top: 10px;
  background-color: #c1121f;
  color: #fdf0d5;
  border-radius: 7px;
  font-weight: 500;
  font-size: 18px;
  height: 45px;
  width: 180px;
  border: none;
}

.icon {
  margin-right: 5px;
}

#timer {
  display: none;
  background-color: #c1121f;
  color: #fdf0d5;
  font-size: 18px;
  border-radius: 100%;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.fileupload {
  text-align: center;
  padding: 3%;
}

input[type='file'] {
  display: none;
}

label {
  cursor: pointer;
}

#fileName {
  color: #c1121f;
  font-weight: bold;
}
